body{
    padding-top: 60px;
}
.page-header{
    margin-top:20px;
    padding-bottom: 0;
    margin-bottom:10px;
}
.navbar{
    margin-bottom:0;
}

h3.inline{
    margin-top:2px;
    margin-bottom: 2px;
}
.checkbox.toggle label {
    padding-left: 0;
}

.checkbox.toggle {
    padding-top: 0;
}
.password-inline{
    padding: 6px 0;
    font-size: 16px;
    font-weight: 700;
}

.lmb{
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: inherit;
}

.lmbnc{
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.sortable{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.min-space-top{
    padding-top: 5px;
}

.no-margin{
    margin: 0;
}

.textarea-standard {
    width:100%;
    height:500px;
    resize: none;
}

.textarea-small {
    width:100%;
    height:250px;
    resize: none;
}

.form-control-feedback.tooltipped{
    pointer-events: auto;
    cursor: pointer;
}